body {
          padding: 25px;
          background-image: url(../Images/Background.jpg);
          color: rgb(255, 255, 255);
          font-size: 25px;
        }
        
        .dank-mode {
          background-image: url(../Images/DANKmode.gif);
          color: white;
        }


header {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

body {
    text-align: center;
    font-weight: 900;
}